**DATA STRUCTURE ASSIGNMENT**

Q1. What are data structures, and why are they important?

 -Data structure refers to the ways of organising and storing data so that it can be accessed and manipulated.
     
  why are they important?
  
  -They help programmers manage large amounts of data efficiently
  
  -They help programmers create effective applications
  
  -They help programmers solve complex problems.


Q2. Explain the difference between mutable and immutable data types with examples.

 - MUTABLE DATA TYPES
      These data types can be modified after they are created. For example, in Python, lists, dictionaries, and sets are mutable data types.
 - IMMUTABLE DATA TYPES
      These data types cannot be changed after they are created. For example, in Python, strings, tuples, integers, and floats are immutable data types.


Q3. What are the main differences between lists and tuples in Python?

 - The main differences between lists and tuples in Python are that lists  
  are mutable, while tuples are immutable. Lists can be modified, while tuples cannot. Tuples are also more memory efficient and faster than lists.

Q4.  Describe how dictionaries store data?

- A Python dictionary is a data structure that stores the value in key:
  value pairs. Values in a dictionary can be of any data type and can be duplicated.


Q5. Why might you use a set instead of a list in Python?

   - One of the main advantages of using sets in Python is that they are highly
     optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists.

Q6. What is a string in Python, and how is it different from a list.
- A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).


Q7.  How do tuples ensure data integrity in Python?

- Tuples are immutable, which means once they are created, their content cannot be altered. This characteristic makes them suitable for fixed collections of items, providing data integrity and performance benefits.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

- In Python, a hash table is a data structure that implements the dictionary data type. Hash tables are used to store key-value pairs, where the key is generated using a hash function.


Q9. Can lists contain different data types in Python?

- Yes, in a list you can store objects of any type. You can also mix objects of different types within the same list.


Q10. Explain why strings are immutable in Python?

- Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

 The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

Q11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer advantages over lists for tasks that involve searching for specific values or storing key-value pairs. Dictionaries are faster and more efficient than lists for these tasks.
- Dictionaries can store any type of data as both the key and the value.
- Dictionaries make code easier to read when generating key-value pairs.

Q12. Describe a scenario where using a tuple would be preferable over a list?

- Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

Q13.  How do sets handle duplicate values in Python?

- Sets do not allow duplicate items, they are unordered, and the items stored in them cannot be modified.

Q14. How does the “in” keyword work differently for lists and dictionaries?

- Python’s "in" operators allow you to quickly determine if a given value is a part of a collection of values. This type of check is common in programming, and it’s generally known as a membership test in Python.

- Lists: The in keyword checks if the element is in the list.
- Dictionaries: The in keyword checks if the key is in the dictionary.

Q15. Can you modify the elements of a tuple? Explain why or why not?

- No, you cannot directly modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed; if you try to alter a tuple element, you will receive an error message.

Q16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary that contains other dictionaries. It's a powerful tool for organizing data with multiple layers.
Example
- A nested dictionary can be used to organize employee records by department. Each employee's details can be stored in a nested dictionary.
- A nested dictionary can be used to track product categories, subcategories, and individual product details.

Q17. Describe the time complexity of accessing elements in a dictionary.

- Time complexity is a measure of how much time an algorithm takes to run.
It's usually expressed as a function of the size of the input.
In the case of a dictionary, the time complexity depends on the size of the dictionary and the operation being performed.

Q18. In what situations are lists preferred over dictionaries?

- If you need an ordered collection, like a sequence of user actions, lists are your go-to.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.

- A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. because there's no implicit "position" to the keys, and their internal structure focuses on fast access rather than maintaining a specific order based on the keys. This doesn't significantly impact performance when accessing elements by key but requires explicit handling if you need to iterate in a particular order.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

-  A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [7]:
#DATA STRUCTURE ASSINMENT PRACTICAL PART.

#Q1.  Write a code to create a string with your name and print it.

'''
answer
'''

name="aditi"
print(name)

aditi

In [8]:
#Q2. Write a code to find the length of the string "Hello World"?

'''
answer
'''

string= "Hello world"
print(len(string))

11

In [10]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"

'''
answer
'''

A= "Python Programming"
A[:3]

'Pyt'

In [12]:
#Q4. Write a code to convert the string "hello" to uppercase.

'''
answer
'''

string="hello"
string.upper()

'HELLO'

In [13]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

'''
answer
'''

string="I like apple"
string.replace("apple","orange")

'I like orange'

In [14]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.

'''
answer
'''

list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [15]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

'''
answer
'''

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [16]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

'''
answer
'''

list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [17]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

'''
answer
'''

list=['a','b','c','d']
list[1]

'b'

In [18]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

'''
answer
'''

list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [20]:
#Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

'''
answer
'''

tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [21]:
#Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

'''
answer
'''

tuple=("apple","banana","cherry")
tuple[0]

'apple'

In [22]:
#Q13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

'''
answer
'''

tuple=(1,2,3,2,4,2)
tuple.count(2)

3

In [23]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

'''
answer
'''

tuple=("dog","cat","rabbit")
tuple.index("cat")

1

In [24]:
#Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

'''
answer
'''

tuple=('apple','orange','banana')
"banana" in tuple

True

In [25]:
#Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
'''
answer
'''

set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [27]:
#Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
'''
answer
'''

set={1,2,3,4}
set.add(5)
print(set)

{1, 2, 3, 4, 5}

In [28]:
#Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

'''
answer
'''

tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [29]:
#Q19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

'''
answer
'''

tuple=("apple","banana","cherry")
tuple[0]

'apple'

In [30]:
#Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

'''
answer
'''

tuple=(1,2,3,2,4,2)
tuple.count(2)

3

In [31]:
#Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

'''
answer
'''

tuple=("dog","cat","rabbit")
tuple.index("cat")

1

In [32]:
#Q22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
'''
answer
'''

tuple=('apple','orange','banana')
"banana" in tuple

True

In [33]:
#Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

'''
answer
'''

set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [35]:
#Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
'''
answer
'''

set={1,2,3,4}
set.add(5)
print(set)

{1, 2, 3, 4, 5}